boto3==1.20.24
botocore==1.23.24
docutils==0.15.2
dynamodb_utils==1.0.0
fastapi==0.73.0
mangum==0.12.3
regex==2021.11.10
rsa==4.7.2
simplejson==3.17.6
uvicorn==0.17.1
rsa==4.7.2
snowflake-id==0.0.2
PyJWT==2.3.0
email-validator==1.1.3